proyecto.json
{
  "name": "NuevoProyecto",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1280,
        -928
      ],
      "id": "1b3ab314-a209-4b07-8f7f-3a98d0434adc",
      "name": "Telegram Trigger",
      "webhookId": "1c097605-8abf-41fe-9f45-1ee47e4edf90",
      "credentials": {
        "telegramApi": {
          "id": "hplWwXoGSm7kQr4L",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el mensaje, manejando posibles errores si no hay texto\nconst msg = items[0].json.message || {};\nconst text = msg.text ? msg.text.toLowerCase() : \"\";\n\nlet responseText = \"¡Hola! Selecciona una opción:\\n1. Materia\\n2. Tutor\\n3. Horario libre\";\n\nif (text.includes(\"1\") || text.includes(\"materia\")) {\n    responseText = \"Entendido, consulta de Materia. Por favor, escribe el nombre de la materia.\";\n} else if (text.includes(\"2\") || text.includes(\"tutor\")) {\n    responseText = \"Consulta de Tutor. Escribe el nombre de la materia para darte el tutor.\";\n} else if (text.includes(\"3\") || text.includes(\"horario\")) {\n    responseText = \"Consulta de Horario. Escribe la materia.\";\n}\n\nreturn {\n    json: {\n        text: responseText\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -560
      ],
      "id": "9dd4ff56-063e-4334-91c3-2812f2096423",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eeE8SzRlp-98EaWCPvYperXcoG68Ob69b9q1dVI5KHM",
          "mode": "list",
          "cachedResultName": "TUTORIAS P",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeE8SzRlp-98EaWCPvYperXcoG68Ob69b9q1dVI5KHM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1900245179,
          "mode": "list",
          "cachedResultName": "TUTORIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeE8SzRlp-98EaWCPvYperXcoG68Ob69b9q1dVI5KHM/edit#gid=1900245179"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -304
      ],
      "id": "b7da22b4-0a3f-4a80-8172-a10a01f31d6d",
      "name": "tutorias",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SXmbRk4U8a8b962G",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zDIaDkUwvgT7unPps4DpglQYIWn0GqLiVnFB4Q9gF-M",
          "mode": "list",
          "cachedResultName": "TUTORES P",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zDIaDkUwvgT7unPps4DpglQYIWn0GqLiVnFB4Q9gF-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284108295,
          "mode": "list",
          "cachedResultName": "TUTORES V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zDIaDkUwvgT7unPps4DpglQYIWn0GqLiVnFB4Q9gF-M/edit#gid=1284108295"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        -752
      ],
      "id": "a720116c-49cf-44f3-9297-3ebf79fa3719",
      "name": "tutores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SXmbRk4U8a8b962G",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19usVfE05BmsaY5e2XwFTRr-xYIAoPKYRbPo_MsTRgMo",
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD P",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19usVfE05BmsaY5e2XwFTRr-xYIAoPKYRbPo_MsTRgMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 63605771,
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19usVfE05BmsaY5e2XwFTRr-xYIAoPKYRbPo_MsTRgMo/edit#gid=63605771"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -480
      ],
      "id": "2509a0a9-3a68-4120-8482-e9060e558ee5",
      "name": "disponibilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SXmbRk4U8a8b962G",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        -352
      ],
      "id": "607e6306-a88a-41b9-ba0a-32f75ceca5af",
      "name": "Send a text message1",
      "webhookId": "49847d81-28d0-45cd-9be3-2b972cf930be",
      "credentials": {
        "telegramApi": {
          "id": "hplWwXoGSm7kQr4L",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Tutor: {{ $json.col_2 }}\nMateria: {{ $json.col_3 }}",
        "replyMarkup": "",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        -1040
      ],
      "id": "490eb0be-d058-420e-8a3c-d747c547d004",
      "name": "Send a text message2",
      "webhookId": "bdf69f8c-4d52-4e8b-a97a-d2b2dc4c6aef",
      "credentials": {
        "telegramApi": {
          "id": "hplWwXoGSm7kQr4L",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Tutor: {{ $json.col_2 }}\nMateria: {{ $json.col_3 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -896
      ],
      "id": "33edaf29-777c-4042-921e-efe7ae8285f3",
      "name": "Send a text message",
      "webhookId": "27f5da73-272a-4c67-9e75-89d5bc5bb9cd",
      "credentials": {
        "telegramApi": {
          "id": "hplWwXoGSm7kQr4L",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8ca556cf-1b41-4c0c-912d-2c83b90c76ea"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf5eafef-a0ec-4465-8f1e-8b6d487132c5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a2cadc71-9df0-4b62-813a-04495b1c4ffb",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "504136b5-6ffa-4822-afb8-2e4db9943e06",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -816,
        -800
      ],
      "id": "b921f5dc-2e16-463a-b061-de931b2af273",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.col_4 }}",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        -736
      ],
      "id": "ef1acc22-3952-41ee-bdb1-cc09878ef215",
      "name": "Send a text message3",
      "webhookId": "edaec513-1bab-4e10-8ff5-900278aec644",
      "credentials": {
        "telegramApi": {
          "id": "hplWwXoGSm7kQr4L",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eeE8SzRlp-98EaWCPvYperXcoG68Ob69b9q1dVI5KHM",
          "mode": "list",
          "cachedResultName": "TUTORIAS P",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeE8SzRlp-98EaWCPvYperXcoG68Ob69b9q1dVI5KHM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1900245179,
          "mode": "list",
          "cachedResultName": "TUTORIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeE8SzRlp-98EaWCPvYperXcoG68Ob69b9q1dVI5KHM/edit#gid=1900245179"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        -736
      ],
      "id": "347aeab6-4c84-4cac-b0a4-b5ef7ffa2a54",
      "name": "materias",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SXmbRk4U8a8b962G",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zDIaDkUwvgT7unPps4DpglQYIWn0GqLiVnFB4Q9gF-M",
          "mode": "list",
          "cachedResultName": "TUTORES P",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zDIaDkUwvgT7unPps4DpglQYIWn0GqLiVnFB4Q9gF-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284108295,
          "mode": "list",
          "cachedResultName": "TUTORES V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zDIaDkUwvgT7unPps4DpglQYIWn0GqLiVnFB4Q9gF-M/edit#gid=1284108295"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        -896
      ],
      "id": "34647f5c-08d0-48c2-9751-95e6f8d8ef27",
      "name": "ttutores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SXmbRk4U8a8b962G",
          "name": "Google Sheets account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tutorias": {
      "main": [
        []
      ]
    },
    "tutores": {
      "main": [
        []
      ]
    },
    "disponibilidad": {
      "main": [
        []
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "tutorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ttutores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "materias": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ttutores": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "66002927-c6cb-469a-ab05-3af16ab028c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e744d3425a9b3c85210c8b3d06964d6e7f986c14f53db8ce7780bddc28eae83"
  },
  "nodeGroups": [],
  "id": "KLvGIsDbgTKLnIvw",
  "tags": []
}